.gridWPid {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: 
  "empty0 empty0  empty0  titel   titel     titel     titel     titel     titel     empty1    empty1    button"
  "input  input   input   input   input     input     setPoint  setPoint  setPoint  setPoint  setPoint  setPoint"
  "error  error   error   error   intergral intergral intergral intergral derative  derative  derative  derative"
  "output output  output  output  output    output    output    output    output    output    output    output";
}

@media screen and (max-width: 500px){
  .gridWPid {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    "empty0 empty0  empty0  titel   titel     titel     titel     titel     titel     button    button    button"
    "input  input   input   input   input     input     setPoint  setPoint  setPoint  setPoint  setPoint  setPoint"
    "error  error   error   error   intergral intergral intergral intergral derative  derative  derative  derative"
    "output output  output  output  output    output    output    output    output    output    output    output";
  }
}

.gridWPidSmall {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "output output  button    button"
  "input  input   setPoint  setPoint";
}

.titel {
  grid-area: titel;
  text-align: center;
  font-size: 120%;
}

.settingsButton {
  grid-area: button;
}

.input {
  grid-area: input;
}

.setPoint {
  grid-area: setPoint;
}

.error {
  grid-area: error;
}

.intergral {
  grid-area: intergral;
}

.derative {
  grid-area: derative;
}

.output {
  grid-area: output;
}